
simpleTX_sim/binaryTXdata
simpleTX_sim/binaryTXdata_2
simpleTX_sim/binaryTXdata_2oneP_3333
simpleTX_sim/binaryTXdata_4oneP_3333
simpleTX_sim/5longpkts_2oneP_3333
simpleRX_sim/rxDataTmp/rxAttenuator0dB_2onespreamb
simpleRX_sim/rxDataTmp/rxAttenuator0dB_2onespreamb_t1
simpleRX_sim/rxDataTmp/rxAttenuator0dB_2onespreamb_t2
simpleRX_sim/rxDataTmp/rxAttenuator0dB_2onespreamb_t3
simpleRX_sim/rxDataTmp/rxAttenuator0dB_2onespreamb_t4
simpleRX_sim/rxDataTmp/rxAttenuator0dB_2onespreamb_t5
simpleRX_sim/rxDataTmp/rxAttenuator0dB_4onespreamb
simpleRX_sim/rxDataTmp/rxAttenuator0dB_8onespreamb
simpleRX_sim/rxDataTmp/rxAttenuator0dB_8onespreamb_ALT_t1
simpleRX_sim/rxDataTmp/rxAttenuator0dB_8onespreamb_t1
simpleTX_sim/randint1000
simpleTX_sim/randint1000_ref
simpleTX_sim/5longpkts_8oneP_3333
simpleTX_sim/5longpkts_8oneALTP_3333
simpleTX_sim/thousand5_tests/SF9_ref
simpleTX_sim/thousand5_tests/SF9_035chan
simpleTX_sim/thousand5_tests/SF9
simpleTX_sim/thousand5_tests/SF8_ref
simpleTX_sim/thousand5_tests/SF8
simpleTX_sim/thousand5_tests/SF7_ref
simpleTX_sim/thousand5_tests/SF7
simpleTX_sim/thousand5_tests/SF12_ref
simpleTX_sim/thousand5_tests/SF12
simpleTX_sim/thousand5_tests/SF10_ref
simpleTX_sim/thousand5_tests/SF10
simpleTX_sim/doppler_tests/SF1000s_035chan
simpleTX_sim/doppler_tests/SF9
simpleTX_sim/doppler_tests/SF9_035chan
simpleTX_sim/doppler_tests/SF9_1000s
simpleTX_sim/doppler_tests/SF9_1000s_ref
simpleTX_sim/doppler_tests/SF9_100s
simpleTX_sim/doppler_tests/SF9_100s_035chan
simpleTX_sim/doppler_tests/SF9_100s_ref
simpleTX_sim/doppler_tests/SF9_10k
simpleTX_sim/doppler_tests/SF9_10k_ref
simpleTX_sim/doppler_tests/SF9_ref
*.zip
*.png
*.pkl
simpleTX_sim/thousand5_tests/SF9_noOnes
simpleTX_sim/thousand5_tests/SF9_noOnes_ref
simpleTX_sim/doppler_sim_scripts/GNURADIO_DOP_REF
simpleRX_sim/calibrateSNR_noiseData
simpleTX_sim/test_files/SF9_100_5s
simpleTX_sim/test_files/SF9_100_5s_ref
simpleTX_sim/ber_desktop_testing/10pkts_sf9_20kbw_payload100/trial1
simpleRX_sim/__pycache__/css_demod.cpython-311.pyc
simpleTX_sim/ber_desktop_testing/10000pkts_sf9_20kbw_payload100/trial1
simpleTX_sim/ber_desktop_testing/10pkts_sf9_20kbw_payload100/trial1_035chan
simpleTX_sim/ber_desktop_testing/10pkts_sf9_20kbw_payload100/trial1_035chan_5s
simpleTX_sim/test_bw_change_tmp
simpleTX_sim/test_bw_change_tmp
simpleTX_sim/doppler_sim_scripts/GNURADIO_linear_apogee
simpleTX_sim/test_hamming_encode
simpleTX_sim/test_hamming_encode_ref
simpleTX_sim/doppler_sim_scripts/doppler_8k_test
